<h1>Home</h1>
<p> This is the starting page </p>

<h1> How to Play the Game </h1>
<p> In your address bar, please enter http://localhost:4567/gameplay/ </p>

<p> player 1 can then type there game move, for example http://localhost:4567/gameplay/rock </p>

<p> player 2 can then type there game move, for example http://localhost:4567/gameplay/rock/paper </p>

<p> In this case player 2 will win, and will see the result of the game displayed. </p>

<h2> Possible Plays </h2>
<p> Players may enter the following game moves: </p>

<p> scissors </p>
<p> rock </p>
<p> paper </p>
